name: build

on:
  push:
    paths:
      - ".github/**"
      - "cmake/**"
      - "include/**"
      - "src/**"
      - "extern/**"
      - "CMakeLists.txt"
      - "CMakePresets.json"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-2025
            configure_preset: msvc-x86
            build_preset: msvc-x86-build
          - os: ubuntu-24.04-arm
            configure_preset: unix
            build_preset: unix-build
            cc: gcc-12
            cxx: g++-12
          - os: ubuntu-24.04
            configure_preset: unix
            build_preset: unix-build
            cc: gcc-12
            cxx: g++-12
          - os: macos-15
            configure_preset: unix
            build_preset: unix-build
          - os: macos-15-intel
            configure_preset: unix
            build_preset: unix-build

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup CMake
        uses: lukka/get-cmake@latest

      - name: Build
        uses: lukka/run-cmake@v10
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        with:
          configurePreset: ${{ matrix.configure_preset }}
          buildPreset: ${{ matrix.build_preset }}
