name: build

on:
  push:
    paths:
      - ".github/**"
      - "cmake/**"
      - "include/**"
      - "src/**"
      - "extern/**"
      - "tests/**"
      - "examples/**"
      - "CMakeLists.txt"
      - "CMakePresets.json"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-2025
            configure_preset: msvc-x86
            test_preset: msvc-x86-test
            build_preset: msvc-x86-build
          - os: ubuntu-24.04-arm
            configure_preset: unix
            test_preset: unix-test
            build_preset: unix-build
            cc: gcc-13
            cxx: g++-13
          - os: ubuntu-24.04
            configure_preset: unix
            test_preset: unix-test
            build_preset: unix-build
            cc: gcc-13
            cxx: g++-13
          - os: macos-15
            configure_preset: unix
            test_preset: unix-test
            build_preset: unix-build
          - os: macos-15-intel
            configure_preset: unix
            test_preset: unix-test
            build_preset: unix-build

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup CMake
        uses: lukka/get-cmake@latest

      - name: Configure, build and test
        uses: lukka/run-cmake@v10
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        with:
          configurePreset: ${{ matrix.configure_preset }}
          buildPreset: ${{ matrix.build_preset }}
          testPreset: ${{ matrix.test_preset }}
          testPresetAdditionalArgs: "['--output-on-failure']"
