name: release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-2025
            configure_preset: msvc-x86
            build_preset: msvc-x86-build
            package_preset: msvc-x86-package
          - os: ubuntu-24.04
            configure_preset: unix
            build_preset: unix-build
            package_preset: unix-package
          - os: macos-15
            configure_preset: unix
            build_preset: unix-build
            package_preset: unix-package
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Abort if tag is not on main
        shell: bash
        run: |
          git fetch origin main --depth=1
          TAG_SHA=$(git rev-parse ${{ github.sha }})
          MAIN_SHA=$(git rev-parse origin/main)

          if ! git merge-base --is-ancestor "$TAG_SHA" "$MAIN_SHA"; then
            exit 1
          fi

      - name: Setup CMake
        uses: lukka/get-cmake@latest

      - name: Build
        uses: lukka/run-cmake@v10
        with:
          configurePreset: ${{ matrix.configure_preset }}
          buildPreset: ${{ matrix.build_preset }}
          packagePreset: ${{ matrix.package_preset }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            */*.zip
